#logo {
    margin-left: 13%;
    margin-top: 6%;
}

#logo-container > h1 {
    margin-top: 6%;

}

header {
    display: flex;
    border: 3px solid green;
}

#logo-container {
    display: flex;
    
    border: 2px solid black;
}
