main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-top: 3%;
}

#text-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

#top-text-container {
    display: flex;
    flex-direction: column;
}

#bottom-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#button-container > button {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
}

#button-container {
    padding-top: 2%;
}

#form-container {
    display: flex;
}

#form-container input {
    border-radius: 4.91px;
    height: 2.5vh;
    text-indent: 5px;
}

#form-container label {
    padding-bottom: 1%;
}

#top-text-container {
    padding-right: 5%;
    width: 50%;
}

.meme--image {
    max-width: 100%;
}

#meme-image-container {
    display: flex;
    justify-content: center;
}