#saved-meme-image-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#saved-meme-image-container img {
    max-width: 50%;
    max-height: 100%;
}

#saved-memes-container {
    padding-bottom: 1%;
}

.meme-item {
    padding-bottom: 1%;
}

#action-buttons {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    gap: 0.5%;
}

#action-buttons button {
    height: 4vh;
    cursor: pointer;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    width: 7%;
    border-radius: 10px;
}

.saved--meme-image {
    max-width: 100%;
    border-radius: 3px;
}

.saved-meme-text {
    position: absolute;
    word-break: break-all;
    width: 15%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.save-top {
    top: 0;
}

.save-bottom {
    bottom: 0;
}

#no-saved-memes {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 2%;
}